# Copy this file to .env and add your credentials below
LOG_BOT_API_TOKEN=YOUR_LOG_BOT_API_TOKEN #For Logs
LOG_BOT_TARGET_CHAT_ID=YOUR_LOG_BOT_TARGET_CHAT_ID #Your Telegram User ID or Group Chat ID for Logs
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN #For the main bot that forwards messages